﻿@model dynamic

@{
    ViewBag.Title = "xtribe.co - Find your Tribe!";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<h2>xtribe.co - <span style="color:#cecece;font-weight: normal">Find your Tribe!</span></h2>
