﻿@{
	ViewBag.Title = @Html.Translate( "LandingTitle" );
	Layout = "~/Views/Shared/_Landing.cshtml";
}
<div class="row" id="landing-content">
	<div class="span12">
		<div class="row">
			<div class="span6" id="titleContainer">
				<div class="head">
					@Html.Translate( "CompanyNameLower" )</div>
				<div class="subhead">
					@Html.Translate( "FindYourTribe" )</div>
			</div>
			<div class="span6" id="descriptions-container">
				<div class="thumbs">
					<div class="thumb thumb_wave" data-content="@Html.Translate( "TidalTribeCTA" )"
						data-original-title="@Html.Translate( "TidalTribeName" )">
						<img src="@("/Content/Landing/thumb_wave.png")"/>
					</div>
					<div class="thumb thumb_mountain" data-content="@Html.Translate( "SnowTribeCTA" )"
						data-original-title="@Html.Translate( "SnowTribeName" )">
						<img src="@("/Content/Landing/thumb_mountain.png")"/>
					</div>
					<div class="thumb thumb_Wheel" data-content="@Html.Translate( "DirtTribeCTA" )"
						data-original-title="@Html.Translate( "DirtTribeName" )">
						<img src="@("/Content/Landing/thumb_Wheel.png")"/>
					</div>
					<div style="clear: both">
					</div>
				</div>
				<div id="descriptions">
					<div class="descriptions_default">
						<p>
							@Html.Translate( "LandingXTribeConfidence1" )</p>
						<p>
							@Html.Raw( @Html.Translate( "LandingXTribeConfidence2", new Dictionary<string, string>
													{
													{"xtribe", "<span class=\"brand\">"+ @Html.Translate( "CompanyNameLower") + "</span>"}
													} ) )
						</p>
					</div>
				</div>
				<p style="margin-top: 20px;" id="signupbutton">
					<a class="btn btn-info btn-large" data-toggle="modal" id="requestinvite"><strong>
						@Html.Translate( "LandingRequestInviteArrow" ) </strong></a>
				</p>
				<div id="contact-form">
					<div id="contact-formContent">
						<div id="contact-formContent2">
							<h2>
								@Html.Raw( @Html.Translate( "LandingRequestAnInvite", new Dictionary<string, string>
													{
													{"xtribe", "<span class=\"brand\">"+ @Html.Translate( "CompanyNameLower") + "</span>"}
													} ) )
							</h2>
							<form action="#" id="contactForm">
							<div class="control-group">
								<input type="email" id="emailAddress" placeholder="youremail@example.com" class="email required" />
								<button class="btn btn-info">
									@Html.Translate( "LandingRequestInvitation" )
								</button>
							</div>
							</form>
							<hr />
							@Html.Translate( "LandingOrSignInWithFacebook" )
							<fb:login-button perms="email,user_checkins" onlogin="afterFacebookConnect();" autologoutlink="false"></fb:login-button>
						</div>
						<div id="contact-formContent3">
							<h2>
								@Html.Translate( "LandingThanksForInterest" )</h2>
						</div>
					</div>
				</div>
				<div id="facebookLike" class="fb-like" data-href="http://xtribe.co" data-send="false"
					data-layout="button_count" data-width="80" data-show-faces="true" data-font="arial"
					style="margin-top: 130px">
				</div>
				<a href="https://twitter.com/xtribecommunity" class="twitter-follow-button" data-show-count="false">
					@Html.Translate( "LandingFollowXtribe" )</a> <a href="https://twitter.com/intent/tweet?screen_name=xtribecommunity"
						class="twitter-mention-button">@Html.Translate( "LandingTweetToXtribe" )</a>
				<script>					!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>
