﻿@model SampleMembershipSite.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_loggedInLayout.cshtml";
    
}
<div id="content">
    <div id="left" class="span4">
        <div class="row">
            <div class="span5">
                <h2>
                    @Model.UserFullName</h2>
            </div>
            <div id="profileImage" class="span5">
                <img src="@Model.ProfileImageURL"/>
            </div>
        </div>
        <div class="row">
            <div class=" span5">
                <img src="/Content/images/verifications.png" alt="Verifications" />
            </div>
            <div class="span5">
                Feed image thing
            </div>
        </div>
        <div class="row">
            <div class="span">
                <ul class="nav-tabs nav" data-tabs="tabs">
                    <li class="active"><a href="#reviewTab">Review (18)</a></li>
                    <li><a href="#snowBuddy">Snow Buddys (58)</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span tab-content">
                <div class="tab-pane active" id="reviewTab">
                    <h3>
                        Review</h3>
                    <p>
                        orange orange orange orange orange</p>
                </div>
                <div class="tab-pane" id="snowBuddy">
                    <h3>
                        Snow Buddys</h3>
                    <p>
                        blue blue blue blue blue</p>
                </div>
            </div>
        </div>
    </div>
    <div id="right" class="span8">
        <div id="accordion">
            <h3>
                <a href="#">About Steve</a></h3>
            <div>
                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.
                    Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a
                    nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada.
                    Vestibulum a velit eu ante scelerisque vulputate.
                </p>
            </div>
            <h3>
                <a href="#">Skill Level</a></h3>
            <div>
                <p>
                    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
                    hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum
                    tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                </p>
            </div>
            <h3>
                <a href="#">Check-ins</a></h3>
            <div>
                <p>
                    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus
                    pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                    semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                    nisi, eu iaculis leo purus venenatis dui.
                </p>
                <ul>
                    <li>List item one</li>
                    <li>List item two</li>
                    <li>List item three</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#accordion").accordion();
    });
</script>
