﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top hidden-phone" style="text-align: center">
        <a href="@Url.Action("Index", "Dashboard", new { area = "Mobile" })">Try our desktop
            version</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
