﻿<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content( "~/Content/Site.css" )" rel="stylesheet" type="text/css" />
	<script src="@Url.Content( "~/Scripts/jquery-1.7.2.min.js" )" type="text/javascript"></script>
	<script src="@Url.Content( "~/Scripts/modernizr-2.5.3.js" )" type="text/javascript"></script
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32354245-1']);
  _gaq.push(['_setDomainName', 'xtribe.co']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	
	</script>
</head>
<body>
	<div class="page">
		<header>
            
        </header>
		<section id="main">
            @RenderBody()
        </section>
		<footer>
        </footer>
	</div>
</body>
</html>
