﻿<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/content/imagesh/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/content/imagesm/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="/content/imagesl/apple-touch-icon-precomposed.png">
	<link rel="shortcut icon" href="/content/imagesl/apple-touch-icon.png">
	<meta http-equiv="cleartype" content="on">
	<title>@ViewBag.Title</title>
	<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/content/style.css">
	<link rel="stylesheet" href="/Content/jquery-ui-1.8.20.custom.css" type="text/css"
		media="all" />
	@RenderSection( "CSS", false )
</head>
<body>
	<div id="header" class="navbar navbar-fixed-top container row">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
				class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul id="menu" class="nav">
					<li>@Html.ActionLink( "Home", "Index", "Snow" )</li>
					<li>@Html.ActionLink( "Wall", "Wall", "Profile" )</li>
					<li>@Html.ActionLink( "People", "People" )</li>
					<li>@Html.ActionLink( "Tracks", "Tracks" )</li>
				</ul>
				<ul class="secondary-nav nav">
					<li>@Html.ActionLink( "About", "About", "Snow" )</li>
					<li class="fb_button">@Html.Partial( "_LogOnPartial" )</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main" class="row container">
		@RenderBody()
	</div>
	<div id="footer" class="row navbar-inner navbar-fixed-bottom">
		<div class="container-fluid">
			<ul id="tribeMenu" class="nav">
				<li><a href="/surfing">
					<img src="/Content/Landing/thumb_wave.png" alt="Is the wild water your ball park? Check out the tidal-tribe." />
				</a></li>
				<li><a href="/mountain-biking">
					<img src="/Content/Landing/thumb_wheel.png" alt="Is the wild water your ball park? Check out the tidal-tribe." />
				</a></li>
				<li><a href="/snow">
					<img src="/Content/Landing/thumb_mountain.png" alt="Is the wild water your ball park? Check out the tidal-tribe." />
				</a></li>
			</ul>
		</div>
		<div id="title">
			<h1>
				snow-tribe</h1>
		</div>
	</div>
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script>		window.jQuery || document.write('<script src="/Scripts/vendor/jquery-1.8.1.min.js"><\/script>')</script>
    <script src="@Url.Content( "~/Scripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js" )" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"></script>

	<script src="@Url.Content( "~/Scripts/helper.js" )" type="text/javascript"></script>
	<script src="@Url.Content( "~/Scripts/plugins.js" )" type="text/javascript"></script>
	<script src="@Url.Content( "~/Scripts/search.js" )" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32354245-1']);
		_gaq.push(['_setDomainName', 'xtribe.co']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		window.fbAsyncInit = function () {
			FB.init({ appId: '323177461089690',
				status: true, cookie: false, xfbml: true
			});
		};
		function afterFacebookConnect() {
			FB.getLoginStatus(function (response) {
				if (response.authResponse) {
					window.location = "../Account/FacebookLogin?token=" +
	                    response.authResponse.accessToken;
				} else {
					// user clicked Cancel
				}
			});
		};
		$(document).ready(function () {
			if (document.getElementById('fb-root') != undefined) {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}
		});
	</script>
	@RenderSection( "JS", false )
</body>
</html>
