﻿@if( Request.IsAuthenticated )
{ @Html.ActionLink( "Log Off", "LogOff", "Account" ) 
}
else
{
	<fb:login-button perms="email,user_checkins" onlogin="afterFacebookConnect();" autologoutlink="false"></fb:login-button>
	<div id="fb-root" style="display: inline; margin-left: 20px;">
	</div>
}


