﻿/*************************** Reset **********************************/
body {
    font-size: 100%;
}
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}

/*************************** Standard Sizes/Styles **********************************/
h2, h3, h4, h5, h6 {
	margin: 0 0 .3em;	
	font-weight: bold;
}
h1 {
	text-align: center;
	display: block;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.15em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1.08em;
}
h6 {
	font-size: 1em;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 1.4em;
}
li {
	margin: 0 0 .1em 0;
	padding: 0;
}
ul li {	list-style-type: disc;}
ol li { list-style-type: decimal;}

/* table */
table { margin: 8px 0;}
th {
	font-weight: bold;
	background-color: #34363d;
	color: #fff;
	padding: 8px 8px 8px 4px;
	border-left: 1px solid #4F5159;
}
td {
	border: 1px solid #4d5059;
	padding: 4px;
}

/* anchors */
a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* misc */
strong { font-weight: bold;}
em { font-style: italic;}
.underline {text-decoration: underline;}

p {
	margin: 0 0 0.5em;
	padding: 0;
}

label, .label
{
	font-weight: bold;
	display: block;
	margin-bottom: 4px;
}

input, select {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 5px;
	border: 1px solid #c0c0c0;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/* buttons */
.large-button {
	background: url("http://images.skyscnr.com/images/site/common/common_sprite.png") no-repeat 0 -416px transparent;
	border: 0 none;
	cursor: pointer;	
	text-align: center;
	width: 151px;
	height: 42px;
	font-size: 1.6em;
	padding-right: 18px;
	display: block;
	margin: 0 0 8px;
	float: right;
}
.large-button:hover {
	background-position: 0 -334px;
}

a.button {
	background: transparent url('../images/button-sprite.png') no-repeat 100% 0;
	display: block;
	float: left;
	line-height: 30px; 
	height: 30px; 
	padding: 0 16px 0 0;
	margin-left: 2px;
	font-weight: bold;
	color: #34363D;    
}
a.button span {
	background: transparent url('../images/button-sprite.png') no-repeat  0 -90px; 
	display: block;
	height: 30px;
	padding: 0 4px 0 8px;
	margin-left: -2px;
	overflow: hidden;
	color: #34363D;
} 
a.button:hover {
	background-position: 100% -30px;
	text-decoration: none;
}
a.button span:hover {
	background-position: 0 -120px;
}

#category-hotels a.button:hover {
	background-position: 100% -60px;
}
#category-hotels a.button span:hover {
	background-position: 0 -150px;
}

#mpu-primary {
	display: block;
	width: 300px;
	margin: 0 0 22px;
}

figure { margin: 0;}

/*************************** Colours **********************************/
h1, h2, h3, h4, h5, h6, p {color: #34363d;}

a {color: #29a8bb;}
a:visited {color: #660066;}

a.funnel {color: #aae700;}

/*** Flights ***/
.toggle-indicator,
.anc-airli-dark { color: #5be2ed; } /* tabs & links on dark bg */

/*** Hotels ***/
#category-hotels .highlight,
#category-hotels .toggle-indicator,
#category-hotels #footer .toggle-indicator,
.anc-hotel-dark { color: #f0d700; } /* tabs & links on dark bg */

#category-hotels a, 
.anc-hotel-light{ color: #c09a15; } /* links on light bg */

#category-hotels #main-nav li a {background-color: #f0d700;}

/*** Car Hire ***/
#category-carhire .highlight,
#category-carhire .toggle-indicator,
#category-carhire #footer .toggle-indicator,
.anc-carhi-dark { color: #c7d834; } /* tabs & links on dark bg */

#category-carhire a, 
.anc-carhi-light{ color: #a9b500; } /* links on light bg */

#category-carhire #main-nav li a {background-color: #c7d834;}

/*** Holidays ***/
#category-holidays .highlight,
#category-holidays .toggle-indicator,
#category-holidays #footer .toggle-indicator,
.anc-holi_-dark { color: #fca520; } /* tabs & links on dark bg */

#category-holidays a, 
.anc-holi_-light{ color: #f4910f; } /* links on light bg */

#category-holidays #main-nav li a {background-color: #fca520;}

/*** Deals ***/
#category-deals .highlight,
#category-deals .toggle-indicator,
#category-deals #footer .toggle-indicator,
.anc-deals-dark { color: #e54291; } /* tabs & links on dark bg */

#category-deals a, 
.anc-deals-light{ color: #b91162; } /* links on light bg */

#category-deals #main-nav li a {background-color: #e54291;}

/*** Insurance ***/
#category-insurance .highlight,
#category-insurance .toggle-indicator,
#category-insurance #footer .toggle-indicator,
.anc-insur-dark { color: #f23939; } /* tabs & links on dark bg */

#category-insurance a, 
.anc-insur-light{ color: #c42020; } /* links on light bg */

#category-insurance #main-nav li a {background-color: #f23939;}

/*** Direct Flights ***/
.direct-flights {color: #71a221;}
.indirect-flights {color: #e65848;}
.connecting-flights {color: #ff7920;}

/* background colours */
.darkbg { background-color: #34363d;}
.lighterbg { background-color: #4d5059;}

/*************************** Fonts **********************************/
body.lang-ko {
	font-family: "맑은 고딕","Malgun Gothic","나눔글꼴",Nanum,"돋움",Dotum,"Arial Unicode MS",Arial,Helvetica,sans-serif;
}
body.lang-ja {
	font-family: "Arial Unicode MS",Arial,Helvetica,sans-serif;
}
body.lang-zh {
	font-family: "宋体",SimSun,"Arial Unicode MS",Arial,Helvetica,sans-serif;
}
body.lang-zw {
	font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif;
}

/* Reset font-family to arial fo EN text on Asian sites (KO/JA/ZH/ZW) */
.asianLangENtext 	
{
	font-family: Arial,Helvetica,sans-serif;
}

/*************************** Generic Clearing **********************************/
.clearfix:after, #footer ul li:after, .row:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, #footer ul li, .row { display: inline-block; }
.clearfix, #footer ul li, row { display: block; zoom: 1; }
