﻿/* File Created: May 26, 2012 */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Jockey One' , sans-serif;
}
#landing-content
{
    margin-top: 150px;
}
#titleContainer
{
    text-align: right;
}
.head
{
    letter-spacing: -0.05em;
    font-size: 1040%;
    color: #000000;
    font-family: 'Jockey One' , sans-serif;
    text-align: right;
    line-height: 60%;
    clear: both;
}
.subhead
{
    font-size: 200%;
    color: #FF2324;
    font-family: 'Jockey One' , sans-serif;
    text-align: right;
    clear: both;
    line-height: 200%;
}
.thumb
{
    width: 100px;
    float: left;
    margin-right: 5px;
}
#descriptions-container
{
    margin-top: 20px;
    margin-left: 20px;
}
#descriptions > div
{
    margin-top: 10px;
    display: none;
}
#descriptions > div.descriptions_default
{
    display: block;
}

.thumbs
{
    margin-left: auto;
    margin-right: auto;
}
.thumb
{
    padding: 5px;
}

.thumb:hover
{
    /*border-color: rgba(82, 168, 236, 0.8);*/
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    background: rgb(225,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
}

#contact-form
{
    display: none;
}

#contact-formContent
{
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    display: inline-block;
}
#contact-formContent2
{
    background-color: white;
    margin: 10px;
    padding: 10px;
}
#contact-formContent2 input
{
    margin-top: 8px;
}
#contact-formContent3
{
    display: none;
    margin: 10px;
    padding: 10px;
}
.brand
{
    color: #2F96B4;
}
@media (max-width: 767px)
{
    #landing-content
    {
        margin-top: 20px;
    }
    #titleContainer
    {
        text-align: center;
    }

    .head
    {
        margin-left: auto;
        margin-right: auto;
        width: 345px;
    }
    .subhead
    {
        margin-left: auto;
        margin-right: auto;
        width: 345px;
    }
    #descriptions-container
    {
        margin-left: auto;
        margin-right: auto;
        width: 345px;
    }
    .thumbs
    {
        margin-left: auto;
        margin-right: auto;
        width: 345px;
    }
}
@media (max-width: 480px)
{
    #landing-content
    {
        margin-top: 20px;
    }
    #titleContainer
    {
        text-align: center;
    }
    .thumb
    {
        width: 80px;
    }
    .thumbs
    {
        width: 285px;
    }
    .thumb img
    {
        width: 80px;
    }
    .head
    {
        font-size: 840%;
        width: 80%;
    }
    .subhead
    {
        width: 80%;
    }
    #facebookLike
    {
        display: none;
    }
}
