﻿.page
{
	height: 100%;
}
#main
{
	padding-bottom: 95px;
	background-color: #2C2C2C;
	margin-left: 20px;
	padding-left: 0px;
	height: 100%;
}
#trendingImages
{
	float: left;
	width: 60%;
	line-height: 0;
	background-color: white;
}
#trendingImages img
{
	padding: 2px;
	border: solid 1px lightgray;
	width: 32%;
	float: left;
}
#map
{
	height: 100%;
}
#header .navbar-inner
{
	background-image: none;
	box-shadow: none;
}
#findSkiBuddy
{
}
#searchContainer
{
	display: none;
}
#searchContainer span
{
	font-size: 200%;
	line-height: 25px;
	display: block;
}
#searchContainer input[type=text]
{
	clear: both;
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 30px;
	height: 30px;
}
#searchContainer
{
	margin-top: 20em;
}
.navbar a
{
	color: #333;
}

#findSkiBuddy
{
	margin-top: 4em;
}
#findSkiBuddy h2
{
	font-size: 7em;
	line-height: 70px;
	padding-bottom: 10px;
}
#friendSearch
{
	width: 35%;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	padding-right: 20px;
	color: white;
}
#friendSearch a
{
	padding: 10px 0px;
	font-size: 22px;
	color: white;
}
#btnToday
{
	float: left;
}
#btnTomorrow
{
	float: right;
}

#title
{
	margin: 40px 0px 0px 40px;
	float: left;
}

#accordion .ui-state-active .ui-icon, #accordion .ui-state-default .ui-icon
{
	background-image: none;
}
#accordion .ui-accordion-header a
{
	text-align: right;
	padding-right: 40px;
}

#left .row
{
	margin-left: 0px;
}

#footer .navbar-inner
{
	background-color: white;
	background-image: none;
	filter: none;
}

@media (max-width: 480px)
{

}

@media (max-width: 650px)
{

}


@media (max-width: 767px)
{
	html, body, #friendSearch
	{
		background-color: #2C2C2C;
	}
	#placeHolder
	{
		display: none;
	}
	#searchContainer
	{
		display: block;
	}
	#findSkiBuddy
	{
		display: none;
	}
	#friendSearch
	{
		clear: both;
		position: fixed;
		bottom: 25px;
		width: 100%;
		top: auto;
		height: auto;
	}
	#friendSearch div
	{
		margin-top: 2em;
	}
	#footer
	{
		height: 30px;
		padding: 5px;
	}
	#footer img
	{
		height: 25px;
	}
	#title
	{
		margin: 0px;
	}
	#main, body
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#header
	{
		padding: 0px 5px;
	}
}

@media (min-width: 768px) and (max-width: 979px )
{
	#header
	{
		margin-bottom: 0px;
		z-index: 1000;
		background-color: #2C2C2C;
	}
	#header .btn-navbar
	{
		float: left;
	}
}
@media (min-width: 768px)
{
	#searchContainer
	{
		display: none;
	}
	#findSkiBuddy
	{
		display: block;
	}
}

@media (min-width: 1200px)
{

}

@media (max-width: 979px)
{

}

@media (min-width: 980px)
{
	html, body
	{
		height: 100%;
		margin-top: 20px;
	}
	.navbar .secondary-nav
	{
		float: right;
		max-width: 500px;
	}
	.fb_button
	{
		margin-top: 5px;
	}
}

