﻿@media screen and (max-width: 840px)
{
    #placeHolder
    {
        font-size: 170%;
    }
    #friendSearch
    {
        width: 200px;
    }
    #searchContainer
    {
        margin-top: 0px;
    }
}
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px)
{
    #placeHolder
    {
        font-size: 130%;
    }

    #friendSearch
    {
        width: 150px;
    }
    
    #trendingImages img {
        padding: 0px;
    }
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px)
{
    nav
    {
        display: block;
        max-width: 220px;
    }
    nav li
    {
        float: left;
        width: 100px;
        border: 1px solid white;
    }
    #placeHolder
    {
        font-size: 100%;
        clear: left;
    }
    footer
    {
        width: 100%;
        float: left;
        z-index: 999999;
        position: relative;
    }

    footer div {
        float: left;
        clear: both;
    }
    #friendSearch
    {
        float: left;
        clear: left;
        height: 200px;
        width: 100%;        
    }
}
@media screen and (-    webkit-min-device-pixel-ratio: 2), (max-width: 480px)
{
    nav
    {
        display: block;
        max-width: 220px;
    }
    nav li
    {
        float: left;
        width: 100px;
        border: 1px solid white;
    }
    #placeHolder
    {
        font-size: 100%;
    }
    
    footer
    {
        width: 100%;
        float: left;
        z-index: 999999;
    }
    footer div {
        float: left;
    }
}
