﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: black;
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    width: 100%;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    line-height: 1.6em;
}

header, nav, section
{
    display: block;
}

header nav
{
    width: 400px;
    float: left;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
    position: absolute;
    bottom: 0px;
}

#main
{
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    float: left;
}

footer, #footer
{
    background-color: #fff;
    color: #999;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    position: absolute;
    float: left;
    width: 100%;
}

#tribeMenu li
{
    display: inline;
    font-size: 1.1em;
}

#secondaryNav
{
    float: left;
}

#siteFooterMenu
{
    float: left;
    margin-left: 20px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 0px;
}

div#title
{
    display: block;
    float: left;
    text-align: center;
    bottom: 0px;
    padding: 0px 10px;
}

#logindisplay
{
    font-size: 1.1em;
    float: right;
    text-align: right;
    margin: 5px;
    z-index: 1000;
}

#logindisplay a:link
{
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#trendingImages
{
    width: 65%;
    float: left;
}
#main section
{
    background-color: #fff;
}

#trendingImages img
{
    padding: 5px;
    max-width: 350px;
    height: auto;
    width: 30%;
}

#main
{
    height: auto;
}

/* Wall */

#left, #right
{
    float: left;
    min-height: 800px;
}

#left
{
    border-right: black solid 1px;
    width: 10%;
    min-width: 250px;
}
#right
{
    width: auto;
    width: 55%;
}

#friendSearch
{
    float: left;
    width: 300px;
    overflow: hidden;
}
#friendSearch span
{
    font-size: 3em;
}

#placeHolder
{
    font-size: 275%;
    position: absolute;
    z-index: 0;
}

#search
{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: inherit;
}

#searchContainer
{
    margin-top: 50%;
    z-index: 2;
    opacity: 1.0;
    padding: 10px;
    color: #fff;
}
#searchContainer a
{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
#searchContainer input[type=text]
{
    clear: both;
    display: block;
    background-color: black;
    font-size: 3em;
    width: 100%;
    color: #fff;
}
#searchContainer, #search, #placeHolder
{
    color: #fff;
}

.wrap
{
    position: relative;
    margin: 0 auto; /*replace 900px with your width*/
    width: 900px;
}

footer
{
    width: 100%;
    float: left;
    position: fixed;
    bottom: 0;
    z-index: 999999;
}
