﻿@model SampleMembershipSite.ViewModels.SnowHomepageViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_loggedInLayout.cshtml";
}
<section id="trendingImages" class="content eightcol">
	@foreach( var displayUnit in Model.DisplayUnits )
 {
		<img class="box" src="@displayUnit.HomepageImageURL" alt="@displayUnit.Name"/>
 }
</section>
<div id="friendSearch" class="clearfix sidebar span2 threecol">
	<div id="searchContainer">
		<h3>
			Enter your location:</h3>
		<input type="text" id="txtSearch" />
		<a href="#" id="btnToday">Today</a> <a href="#" id="btnTomorrow">Tomorrow</a>
	</div>
	<div id="findSkiBuddy">
		<h2>
			FIND A SKI BUDDY</h2>
	</div>
</div>
@section JS{
	<script type="text/javascript">
		
	</script>
}
