﻿@{
    ViewBag.Title = "Maps";
    Layout = "~/Views/Shared/_loggedInLayout.cshtml";
}
@section CSS{
}
@section JS{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/Scripts/map.js"></script>
    <script src="/Scripts/jquery.signalR-0.5.3.js"></script>
    <script type="text/javascript">
        var connection;
        var map;
        var throbID;
        $(document).ready(function () {

            map = $('#map').snowMap();

            // Proxy created on the fly
            connection = $.connection('/operations/echo');

            // Declare a function on the chat hub so the server can invoke it
            connection.received(function (data, e) {
                //alert(data);
                //                $('#logOutput').append('<p>' + data + '</p>');
                //                $('#logOutput').show('slow');

                if (data.connectionId && data.connectionId != connection.id) {
                    var coords = data.coords;

                    map.snowMap.setPointer(data.connectionId, coords);
                }
            });


            // Start the connection
            connection.start();

            var updatePosition = function () {

                var coords = map.snowMap.getCoords();
                if (coords) {
                    var jsString = '{"lat" : "' + coords.latitude + '","lng" : "' + coords.longitude + '"}';
                    if (connection.state === 1) {
                        connection.send(jsString);
                    }
                }

                throbID = setTimeout(updatePosition, 10000);
            };

            throbID = setTimeout(updatePosition, 1000);

            //            connection.send('Hello');

        });
    </script>
}
<div id="map" class="twelvecol">
</div>
